.hero {


height:95vh;


background:

linear-gradient(
rgba(0,0,0,0.45),
rgba(0,0,0,0.55)
),

url("../images/quartier-paris20.jpg");

background-size:cover;

background-position:center;

color:white;


}




nav {


display:flex;

justify-content:space-between;

align-items:center;

padding:35px 60px;


}




.logo {


font-size:30px;

letter-spacing:2px;

font-weight:500;


}




.menu {


display:flex;

gap:35px;


}



.hero-content {


text-align:center;

max-width:800px;

margin:160px auto;


}



.hero-content h1 {


font-size:55px;

line-height:1.15;


}



.hero-content p {


font-size:22px;


}




.price {


font-size:30px!important;

margin:30px;


}




.location {


font-size:16px!important;

margin-top:35px;


}




.intro {


text-align:center;


}



.intro h2 {


font-size:42px;


}





.feature {


display:flex;

align-items:center;

gap:80px;


}



.feature.reverse {


flex-direction:row-reverse;


}



.feature-image {


flex:1;


}



.feature-image img {


border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,0.12);


}



.feature-text {


flex:1;


}



.feature-text h2 {


font-size:38px;


}



.feature-text li {


margin:10px 0;


}





.reservation-banner {


text-align:center;

background:white;

border-radius:30px;

margin-bottom:80px;


}



.reservation-banner h2 {


font-size:40px;


}





@media(max-width:800px){


nav {


flex-direction:column;

gap:20px;


}



.menu {


gap:15px;


}



.hero-content {


margin:100px auto;


}



.hero-content h1 {


font-size:35px;


}



.feature,
.feature.reverse {


flex-direction:column;


}



section {


padding:60px 25px;


}


}
